@model List<OrderDetailVM>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detail</h1>

<div class="row-mx-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Son Siparişler</h2>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Order Id</th>
                            <th>Product Name</th>
                            <th>Category Name</th>
                            <th>Quantity</th>
                            <th>UnitPrice</th>
                            <th>Sub Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.OrderDate</td>
                                <td>@item.OrderId</td>
                                <td>@item.ProductName</td>
                                <td>@item.CategoryName</td>
                                <td>@item.Quantity</td>
                                <td>@item.UnitPrice ₺</td>
                                <td>@item.SubTotalPrice ₺</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

