@using NTierECommerce.MVC.Areas.Admin.Models.ViewModels;
@model UserRegisterVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>

<div class="row mx-4">
    <div class="col-md-4">
        <div class="alert">
            @if (TempData["Error"] != null)
            {
                <span>@TempData["Error"]</span>
            }
        </div>
        <form method="post">
            <div>
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" style="color:red;"></span>
                <input class="form-control" type="text" asp-for="@Model.UserName" />
            </div>
            <div>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" style="color:red;"></span>
                <input class="form-control" type="email" asp-for="@Model.Email" />
            </div>
            <div>
                <label asp-for="Password"></label>
                @*<span asp-validation-for="Password" style="color:red;"></span>*@
                <input class="form-control" type="password" asp-for="@Model.Password"  disabled/>
            </div>
            <div>
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" style="color:red;"></span>
                <input class="form-control" type="number" asp-for="@Model.PhoneNumber" />
            </div>
            <div>
                <label asp-for="Address"></label>
                <textarea class="form-control" type="text" asp-for="@Model.Address"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Güncelle</button>
        </form>
    </div>

</div>